@import url(https://fonts.googleapis.com/css?family=Roboto);

#chess {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#chess td {
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: black;
    background: lightgrey;
    text-align: center;
    font-weight: bold;
}

#chess tr:nth-child(odd) td:nth-child(odd),
#chess tr:nth-child(even) td:nth-child(even) {
    background: cadetblue; /* Farbgebung Schachbrett */
}

#chess tr:first-child td, #chess tr td:first-child {
    background: whitesmoke !important;  /* Farbgebung Schachbrett */
    text-align: center;
    font-size: 30px;
}
