@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    background-color: bisque;
}

#menu {
    /* Styling */
    color: darkgoldenrod;
    font-size: 2em;
    text-align: center;
    margin-left: 200px;
    float: left;
    display: inline;
    width: 49%;
    margin-bottom: 50px;


}
.start {
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;

}
.leaderboard {
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.highscore {
    /* Styling */
    color: darkgoldenrod;
    font-size: 2em;
    margin: 15px 15px 0px 15px;
    padding: 15px 20px;
    text-align: center;
    outline: none;
    border: none;
}
.a-control {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    text-align: center;
}
.d-control {
    width: 100px;
    height: 100px;

}

#field {
    /* Groesse */
    width: 500px;
    height: 700px;

    background-image: url("img/doodlebackground.png");
    margin-left: auto;
    margin-right: 100px;
    margin-top: 50px;
    float: left;
    display: inline;


    /* Aussehen */
    border: 1px solid white;


    /* Positionierung */
    position: relative;


    /* Styling */
    padding: 2em;
    color: red;
    font-size: 2em;
    text-align: center;
}


.player {

    border-radius: 80px;
    background-image: url("img/doodle.png");
    position: absolute;


}

.platform {
    width: 68px;
    height: 14px;

    position: absolute;
    top: auto;
    left: auto;

    background-image: url("img/platform.png");
}

.fireball {
    width: 80px;
    height: 132px;
    background-image: url("img/newFireballtransparent.png");
    position: absolute;
    top: auto;
    left: auto;
}


/* Some basic styles */
body {
    font-family: Roboto;
    text-align: left;
}

/* Dart Pong */
h1 {
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    margin: 1.5em;
    margin-bottom: 0.5em;
}